.link {
    width: 150px;
    height: 50px;
    display: flex;
    padding: 10px;
    text-decoration: none;
    flex-direction: column;
    color: white;
}

.tab {
    padding: 10px;
}


.activeNav {
    position: relative;
    bottom: 5px;
    height: 5px;
    width: 0;
    opacity: 0;
    background-color: white;
    transition: all 0.3s;
    left: 50%;
    z-index: 0;
}

.activeNav.selected {
    width: 100%;
    left: 0;
    opacity: 1;
}

.disabled {
    pointer-events: none;
    background-color: darkslategrey;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
}
